* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

a{
    text-decoration: none;
}

html {
    font-family: system-ui, sans-serif;
}
main {
    height: 120vh;
    width: 100%;
}


body {
    background: linear-gradient(#000000, #52326b, #833ab4);
    overflow: auto;
}

.top-bar{
    display: flex;
    background-color:linear-gradient(#000000, #52326b);
    justify-content: center;
    padding: 20px;
    
}
.nav-bar{
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    gap: 20px; /* Adds space between items */
    width: 100%; 
}

.mute-button{
    margin-top: 10px;
    width: 30px;
    height: 20px;
}
@keyframes move-background {
from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@keyframes move-background {
from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@media(max-width:480px){
    *{margin:0;
    padding:0;}
    main{
        height: 200vh !important;
        width: 100%;

    }
    .context {
        width: 80%;
        padding: 3px;
        position: absolute;
        top:30vh;
        display: flex;
        flex-direction: column;
        
    }

    .top-bar{
        margin-top: 3%;
        padding: 3%;   
    }
    .nav-bar{
        justify-content: center; /* Ensure it's centered */
        width: 100%; /* Allow it to adapt to smaller screens */
        gap: 10px; /* Adjust spacing if necessary */

    }
    .btn{
        text-align: center;
        display: inline-block;
    }
    .hero-text{
        height: 400px;
    }


    .main-content{
        height: 1000px !important;
        padding: 5px; 
    }

    
    .card-deck{
        margin-right: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        flex-direction: center;
        padding: 10% !important;
        gap: 60px !important;
    }

    
    .card{
        width: 95% !important;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));/* drop shadow on transpareant image */
    }
    .card:hover{
        cursor: pointer;
    }

    .card-img-top{
        display: block;
        padding: 0px;
        text-align: center;
        margin-left:0;
        width:35%;
    }

    .card-img-sec{
        padding: 10px;
        margin-left: 0%;
        width:25%;
    }
    
    .card-img-th{
        display: block;
        padding: 10px;
        text-align: center;
        margin-left: 25%;
        width:25%;
    }

    .diceroller-body{
        padding: 10px;
    }

    .contact-form {
        width: 98%;}

    
}

.context {
    width: 100%;
    position: absolute;
    top:30vh;
    display: flex;
    flex-direction: column;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.context h2{
    text-align: center;
    color: #cecece;
    font-size: 28px;
}

.context a {
    font-size: 18px;
    margin-top: 20px; /* Add spacing below the headings */
    width: 100%;
    display: flex;
    justify-content: center;


}

.area{
    background: #4e54c8; 
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #8cbb41, #4e54c8);  
    width: 100%;
    z-index: 1;

    pointer-events: none;

    
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    overflow: hidden;
    z-index: 1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.hero-image{
    top:30vh;
    position: absolute;
    left: 50%;
    width: 120px;
    height:auto;
    margin:-60px 0 0 -60px;
    /*-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;*/
    animation:spin 4s linear infinite;
    
}
@keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.hero-text{
    height: 10%;
}*/

.main-content{
    height: 75%;
    padding: 20% 0; 

}

.card-deck{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 3%;
}

.card:hover{
    box-shadow: #000000;
    transform: translateY(-20px);
}
.card:hover img{
    animation:spin 5s linear infinite;
}

.card-img-sec:hover{
    animation:spin 5s linear infinite;
}
.card-img-th:hover{
    animation:spin 5s linear infinite;
}

.card:hover h5{
    animation:fadein 5s linear;
}

.card{
    width: 500px;
    filter: drop-shadow(50px 20px 25px rgba(0, 0, 0, 0.5));/* drop shadow on transpareant image */

    
}
.card-img-top{
    display: block;
    padding: 10px;
    text-align: center;
    margin-left: 25%;
    width:45%;

}
.card-img-sec{
    display: block;
    padding: 10px;
    text-align: center;
    margin-left: 30%;
    width:45%;

}

.card-img-th{
    display: block;
    padding: 10px;
    text-align: center;
    margin-left: 30%;
    width:40%;

}


footer {
    width:100%;
    margin-top: 80px;
    padding: 10px;
    color: #fff;
    background: linear-gradient(#52326b,#000000);
    text-align:center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes fadein {
    from {
    opacity: 0;
    transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}

@keyframes slideLeft {
from {
    opacity: 0;
    transform: translateX(200px);
} 
to {
    opacity: 1;
    transform: translateX(0%);
}
}



.footer-logo{
    width:40px;
}

.socal ul{
    list-style: none;
    display: flex;
    justify-content: center; 
    padding: 25px;
    margin: 0; 
}

.socal ul li {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    transition: all 0.5s ease;
}
.socal ul li:hover.facebook {
    border: 5px solid #4777df;
    box-shadow: 0 0 15px #497ce9;
    transition: all 0.5s ease;
}
    
.socal ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}
    
/*twitter*/
.socal ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.socal ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}
/* instagram */
.socal ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.socal ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.diceroller-body{
    height: 90vh;
    padding: 10px;
}

/*contact*/

.contact-form {
    height: 63vh;
    width: 65%;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: fadein 2s ease-in;

}

/* Form Title */
.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #444;
}

/* Labels */
.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input Fields */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit Button */

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #183452;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #141618;
}
.content-grid-3{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}